---
layout: page
title: Collection
permalink: /collection/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Collection of my Works</h1>
          <!-- <p>I can</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
{% for post in site.posts %}
<div class="post-area">
  <a href="{{post.url | prepend: site.baseurl}}">
    {% if post.img %}
    <img src={{ "/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
    {% endif %}
  </a>
</div>
{% endfor %}
