---
layout: page
title: Collection
permalink: /collection/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Collection of my Works</h1>
          <!-- <p>I can</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<div>
<section class="chapters cf">
<div class="wrapper">
{% for post in site.posts %}
<div class="chapter">
  <a href="{{post.url | prepend: site.baseurl}}">
    {% if post.img %}
    <img src={{ "/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
    {% endif %}
  </a>
  <!--
  <div class="chapter_inner">
      <h3 class="chapter_title">{{post.title}}</h3>
  </div>
  -->
</div>
{% endfor %}
</div>
</section>
</div>