---
layout: page
title: ShuoHan Rong's Homepage
permalink: /
---

<!-- Slider Start -->
<section id="slider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h1 class="animated fadeInUp">Welcom to my home</h1>
            <p class="animated fadeInUp">ShuoHan Rong</p>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="chapters cf">
  <h1>Collection of My Works</h1>
  <div class="wrapper">
  {% for post in site.posts %}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
      <img src={{ "/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <div class="chapter_inner">
        <h3 class="chapter_title">{{post.title}}</h3>
    </div>
  </div>
  {% endfor %}
  </div>
</section>